.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}

.select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}

.grid-2 {
  grid-column: span 2;
}

option {
  border: none;
  color: #454545;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  margin: 50px;
  cursor: pointer;
}

.select select {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  color: #575757;
  font-size: 16px;
  border: 1px solid #e2e2e2;
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 20px;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox label {
  position: relative;
  padding-left: 25px;
}

.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.checkbox input:checked ~ label:before {
  background-color: orange;
  border-color: #313131;
}

.titulo {
  background-color: #e2e2e2;
  color: #e48d30;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 35%;
  margin: 0 auto;
}

@media only screen and (max-width: 915px) {
  .select {
    grid-template-columns: 1fr;
  }
  
  .grid-2 {
    grid-column: unset;
  }
  
  .container {
    max-width: 100%;
  }
} 